
body {
    background: #E5E5E5;
}

.logo {

    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 70px;
    height: 28px;
    left: 40px;
    top: 40px;
}

#texto{
    font-family: 'Inter', sans-serif;
    text-align: left;
    position: absolute;
    left: 180px;
    top: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    background-color: #E5E5E5;
    border: none;
    outline: none;
    color: rgba(10, 56, 113, 1);
    overflow:hidden;
    resize: none;
}

::placeholder{
    color: rgba(10, 56, 113, 1);
}

.container {
    margin-top: 40%;
    font-size:12px;
}

.rectangulo {
position: absolute;
width: 320px; 
height: 550px;
left: 900px;
top: 20px;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
background: rgba(255, 255, 255, 1);
text-align: center;
align-items: center;
font-size: 25px;
line-height: 40px;
}


#msg {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 20px;
    text-align: left;
    color: #495057;
    resize: none;
    outline: none;
    border: none;
    display:none;
    
}

.muñeco {
    width: 75%; 
    height:75%;
    padding-bottom: 20px;
}

.mensaje{
    width: 300px;
    height:100px;
}

.frame {
    position: absolute;
    width: 229px;
    height: 18px;
    left: 200px;
    top: 470px;
}

.boton-encriptar{
    position: absolute;
    width: 300px;
    height: 55px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: #D8DFE8;
    left: 200px;
    top: 500px;
    cursor: pointer;
}

.boton-desencriptar{
    position: absolute;
    width: 300px;
    height: 55px;
    background:#E5E5E5;
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: #0A3871;
    left: 520px;
    top: 500px;
    cursor: pointer;
}

.boton-copiar {
    position: absolute;
    width: 300px;
    height: 55px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: #0A3871;
    left: 10px;
    top: 480px;
    display: none;
    cursor: pointer;
}

footer {
    position: absolute;
    top: 570px;;
    width:100%;
    text-align: center;
    color: rgba(10, 56, 113, 1);
    padding-bottom: 20px;
}




@media screen and (max-width:480px) {
  
    .logo {
        position: absolute;
        width: 100px;
        left: 16px;
        height: 37px;
        top: 24px;
    }

    textarea {
        width: 340px;
    }

    #texto{
        font-family: 'Inter', sans-serif;
        text-align: left;
        position: absolute;
        left: 16px;
        top: 120px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        background-color: #E5E5E5;
        border: none;
        outline: none;
        color: rgba(10, 56, 113, 1);
        overflow:hidden;
        resize: none;
    }

    .boton-encriptar{
        position: absolute;
        width: 350px;
        height: 55px;
        background: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 15px;
        color: #D8DFE8;
        left: 16px;
        top: 500px;
    }
    
    .boton-desencriptar{
        position: absolute;
        width: 350px;
        height: 55px;
        background:#E5E5E5;
        border: 1px solid #0A3871;
        border-radius: 15px;
        color: #0A3871;
        left: 16px;
        top: 580px;
    }

    .rectangulo {
        position: absolute;
        width: 350px; 
        height: 200px;
        left: 16px;
        top: 700px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        background: rgba(255, 255, 255, 1);
        text-align: center;
        align-items: center;
        font-size: 25px;
        line-height: 40px;
        }

    #msg {
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        margin: 20px;
        text-align: left;
        color: #495057;
        resize: none;
        display:none;
        width: 310px; 
        height: 160px;
    }
    
    .frame {
        position: absolute;
        width: 229px;
        height: 18px;
        left: 16px;
        top: 450px;
    }

    .mensaje{
        position: absolute;
        width: 300px;
        height:100px;
        left: 16px;
        top:50px;
    }

    .muñeco {
        display: none;
    }

    .boton-copiar {
        position: absolute;
        width: 330px;
        top: 230px;
    }

    footer {
        position: absolute;
        top: 1010px;
        width:100%;
        text-align: center;
        color: rgba(10, 56, 113, 1);
    }
}